* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('/img/imagen.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(156, 145, 145, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    display: block;
    color: #fff;
}

.form-control {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(0 0 0);
    border-radius: 5px;
}

.form-text {
    font-size: 12px;
    color: #ffffff;
    margin-top: 5px;
}

.form-check-label {
    font-size: 14px;
}

.btn-primary {
    margin: 0 auto; /* Centrar el botón horizontalmente */
    background-color: #007bff;
    color: #fff;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Centrar el texto dentro del botón */
    width: 80%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

